{% extends 'dummy.html' %}

{% block title %}
    <title>Home Page Page</title>

{% endblock %}

{% block body_block %}
    <center>
        <h1>Change Password</h1>

        <form method="POST">
            {% csrf_token %}
            <!-- <label for="cpw">Change Password</label>
            <input type="password" name="cpw" id="cpw">
            <br>
            <input type="submit" value="ChangePassword"> -->
            <input type="password" name="cpw" placeholder="Enter new password" required>
            <button type="submit">Change Password</button>
        </form>

    </center>
{% endblock %}